/* create borders areound elements */

body {
	background-color: lightGray;
} 

div {	
	border: solid 1px Chocolate;
}


/* box-sizing:border box set up */


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

 /* global styles */



 /* navigation styles */ 


nav {
	background-color: #fff;
}


#content {
	max-width: 60rem;
	margin: 0 auto;
	height: 4.375rem;
}

#content > img.logo {
	height:2.5rem;
}


ul#nav {
	float: right;
	margin-right:3%;


}

ul#nav li {
	display: inline-block;
	margin-left: 31px;
}

ul#nav li a {
	color: #838994;
	text-decoration: none;
	font-size: 1.05em;
	font-family:'Roboto', sans-serif;
	font-weight: 400;	
}

ul#nav li a:hover {
	color: #56516e
}

ul#nav li.meetKarma a {
	font-weight: 600;
	color: #56516e;
	font-weight: 700;
}