/* create borders areound elements */

body {
	background-color: lightGray;
} 

div {	
	border: solid 1px Chocolate;
}


/* box-sizing:border box set up */


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

 /* global styles */



 /* navigation styles */ 


nav {
	background-color: #fff;
}


#content {
	max-width: 960px;
	margin: 0 auto;
	height: 4.375rem;
	padding: 0 3%;
}

#content > img.logo {
	height:2.25rem;
	margin-top: .85em;
}


ul#nav {
	float: right;
	margin-top: 1.5em;
}

ul#nav li {
	display: inline-block;
	margin-left: 31px;
}

ul#nav li a {
	color: #838994;
	text-decoration: none;
	font-size: 1em;
	font-family:'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;	
}

ul#nav li a:hover {
	color: #56516e
	cursor: pointer;
}

ul#nav li.active a {
	font-weight: 600;
	color: #4c5058;
}